/* Custom Styles - use MDB 5 classes as much as possible 
 See: https://mdbootstrap.com/docs/standard/ 
*/

:root {
  /* set new css variables at the top of the tree */
  --first-color: lime;
  --second-color: hotpink;
}

.page-container {
  background-color: white;
}

#both {
  flex: 1 1 auto;
  height: 70vh;
}

.bigcentered {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3em;
}

#one {
  background-color: var(--first-color);
  flex: 1;
  overflow: auto;
}

#two {
  background-color: var(--second-color);
  flex: 1;
  overflow: auto;
}
