/* Custom Styles - use MDB 5 classes as much as possible */
/* See: https://mdbootstrap.com/docs/standard/ */
/* Mouse overs - see https://ianlunn.github.io/Hover/ */

:root {
  /* set new css variables at the top of the tree */
  --nw-green: #006747;
}

a {
  color: var(--nw-green);
}

.page-container {
  background-color: white;
}

.nw {
  background-color: var(--nw-green) !important;
  color: white !important;
}

#both {
  flex: 1 1 auto;
  height: 70vh;
}

.bigcentered {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3em;
}

#one {
  background-color: lime;
  flex: 1;
  overflow: auto;
}

#two {
  background-color: hotpink;
  flex: 1;
  overflow: auto;
}